
// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: 'ArialRounded';
  src: font-url('ArialRoundedMTBoldRegular.ttf') format('truetype');
       
}

@font-face {
  font-family: 'Helvetica';
  src: font-url('Helvetica.otf') format('otf');
       
}

//$small-width: 480px;
//$medium-width: 768px;
//$large-width: 1024px;

//$lightgrey: #F0E9E1;
//$yellow: #DB9942;
//$red: #D0344C;
//$green: #6AAE7F;
//$brown: #4B331B;

.home-center{
	text-align: center;
}

.home-center .top-icon{
	padding-top: 50px;
}
.home-center h2{
	color: white;
	font-size: 3em;
	font-family: 'Helvetica';	
}
.home-center	h3{
	color: white;	
	font-size: 2em;
	font-family: 'ArialRounded'
}
.home-center	h4{
	color: white;	
	font-size: 1.5em;
}

.grey-section{
	background-color: #F0E9E1 !important; 
	height: 650px;
	float: none;
    margin: 0 auto;
  	padding-top: 100px;
}

.grey-section .btn {	  	   
    background-color: #F0E9E1 !important;	    
    border-radius: 5px;
    font-family: 'Helvetica';
	padding:7px;
    margin: 40px 0 0 0;
    width: 220px;
	height: 50px;
    border: solid #DB9942 2px;
    font-size: 20px;
} 
.grey-section .btn a{
	text-decoration: none !important;	    	
	color: #DB9942 !important;    	
}
.grey-section .btn a:hover, .btn a:active, .btn a:target {	  
    text-decoration: none !important;
    color: #DB9942 !important;
}
.grey-section .down-arrow{
	top: 4em;
}
.yellow-section{
	background-color: #DB9942 !important;
	height: 600px;
	position: relative;
}
.yellow-section	h2{
		font-family: 'Helvetica';
		font-size: 3rem;	
}
.yellow-section h3{
	font-family: 'Helvetica';
	font-size: 2rem; 
}
.cameradolly{
    position: absolute;
    left: 0;
   	top: 58%;
   	width: 400px;
}
.red-section{
	background-color: #D0344C !important;
	height: 600px;
	text-align: center;
}
.red-section h2{
	font-family: 'Helvetica';
	padding-bottom: 40px;
}
.red-section h4{
	font-family: 'Helvetica';
	font-size: 1.5rem;
	border: 2px white solid;
	border-radius: 7.5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.green-section{
	background-color: #6AAE7F !important;
	height: 600px;
	padding-top: 50px;
	text-align: center;
	position: relative;
}
.planet{
	position: absolute;
    left: 0;    	
    width: 200px;
}
.ship{
	padding-top: 100px;
}
.green-section	h2{
	font-family: 'Helvetica';
	padding-bottom: 40px;
}

.green-section h3{
}

.green-section	h4{
	font-family: 'Helvetica';
	font-size: 1.5rem;
	border: 2px white solid;
	border-radius: 7.5px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.premium-section{
	background-color: #F0E9E1 !important; 
	background-image: image-url('home/side_icon.png');
	background-repeat: no-repeat;
	height: 600px;
}
.brown-section{
	background-color: #4B331B !important;
	height: 150px;
	.social-icons {
    max-width: 980px;
    margin: 0 auto;
}

footer ul{
	margin:0 auto;
	text-align:center;
	list-style-type:none;
}
footer ul li{
	display:inline-block;
	text-align:center;
	background:#ffffff;
	color:#008D85;
	line-height:42px;
	margin:0 6px;
	width:42px !important;
	height:42px !important;
	
	-webkit-border-radius: 50%;
    border-radius: 50%;
}
footer ul li:hover{
	background:#0a9f9f ;
}
footer ul li:hover	a{
	color:#fff;
}

footer ul li a{
	color:#008D85;
	width:42px !important;
	height:42px !important;
}
footer ul li a i{
	line-height:42px !important;
}	

