@font-face {
  font-family: 'ArialRounded';
  src: font-url('ArialRoundedMTBoldRegular.ttf') format('truetype');
       
}
@font-face {
  font-family: 'Helvetica';
  src: font-url('Helvetica.otf') format('otf');
       
}

//$small-width: 480px;
//$medium-width: 768px;
//$large-width: 1024px;

//$lightgrey: #F0E9E1;
//$yellow: #DB9942;
//$red: #D0344C;
//$green: #6AAE7F;
//$brown: #4B331B;
/*
@media all and (min-width: 1024px) and (max-width: 1280px) { }

@media all and (min-width: 768px) and (max-width: 1024px) { }

@media all and (min-width: 480px) and (max-width: 768px) { }

@media all and (min-width: 320px) and (max-width: 480px){ }


*/

h2{
	color: white;
	font-size: 3em;
	font-family: 'Helvetica';	
}
h3{
	color: white;	
	font-size: 2em;
	font-family: 'ArialRounded';
}
h4{
	color: white;	
	font-size: 1.5em;
	font-family: 'ArialRounded';
}
/********************************	GREY SECTION *************************/
.grey-section{
	background-color: #F0E9E1 !important; 
	height: 650px;
	float: none;
    margin: 0 auto;
  	padding-top: 100px;
}
.grey-section img{
	padding-bottom: 50px;
}
.grey-section h1{
	font-size: 3em;
	font-family: 'Helvetica';
	color: #A56E38;
}
.grey-section ul li{
	display:inline-block;
}
.grey-section .btn {	  	   
    background-color: #F0E9E1 !important;	    
    border-radius: 5px;
    font-family: 'Helvetica';
	padding:7px;
    margin: 40px 0 0 0;
    width: 220px;
	height: 50px;
    border: solid #DB9942 2px;
    font-size: 20px;
} 
.grey-section .btn a{
	text-decoration: none !important;	    	
	color: #DB9942 !important;    	
}
.grey-section .btn a:hover, .btn a:active, .btn a:target {	  
    text-decoration: none !important;
    color: #DB9942 !important;
}
.grey-section .down-arrow{
}

	@media screen and (min-width: 320px) and (max-width: 480px){ 
		.grey-section{
			height: 100vh;
			padding-top: 20px;
		}
		.grey-section img{
			width: 15em;
			padding-bottom: 5px;
		}
		.grey-section h1 {
    		font-size: 2em;
    	}
		.social-icon{
		    width: 5em !important;
		}
		.grey-section .down-arrow{
			padding-top: 4rem;
    		width: 65px !important;
       		position: inherit;
		}
	
	}

/****************************** YELLOW SECTION *************************/
.yellow-section{
	background-color: #DB9942 !important;
	height: 600px;
	position: relative;
	padding-top: 50px;
}
.yellow-section	h2{
	font-family: 'Helvetica';
	font-size: 3rem;
	color: white;	
}
.yellow-section h3{
	font-family: 'Helvetica';
	font-size: 2rem; 
	color: white;
	width: 500px;    
    position: relative;
    display: inline-block;
    line-height: 1.5em;
}
.yellow-section .cameradolly{
    position: absolute;
    left: 0;
   	top: 58%;
   	width: 400px;
}

	@media screen and (min-width: 300px) and (max-width: 480px){
		.yellow-section{
			padding-top: 40px;
			height: 400px;
		}
		.yellow-section img{
			width: 30px;
		}
		.yellow-section	h2 {
    		font-size: 2rem !important;
		}
		.yellow-section h3 {
		    font-size: 1.2rem;    		
		    display: inline;
		}
		.yellow-section .cameradolly{    
			width: 150px;
    		top: 77%;
		}
	}

/******************************** RED SECTION *************************/

.red-section{
	background-color: #D0344C !important;
	height: 600px;
	text-align: center;
	padding-top: 50px;
}
.red-section h2{
	font-family: 'Helvetica';
	padding-bottom: 40px;
	color: white;
	font-size: 50px;
}
.red-section h4{
	font-family: 'Helvetica';
	font-size: 1.5rem;
	border: 2px white solid;
	border-radius: 7.5px;
    padding-top: 5px;
    padding-bottom: 5px; 
    margin-left: 60px;
    margin-right: 60px;   
}
.red-section img{
	width: 150px;
}
.red-section .options:hover {
  -moz-transform: rotate(10deg) skew(0deg);
  -ms-transform: rotate(10deg) skew(0deg);
  -o-transform: rotate(10deg) skew(0deg);
  -webkit-transform: rotate(10deg) skew(0deg);
  padding: 15px;
  transform: rotate(10deg) skew(0deg);
}

	@media screen and (min-width: 300px) and (max-width: 480px){
		.red-section{
			padding-top: 40px;
			height: 400px;
		}
		.red-section img{
			width: 50px;
		}
		.red-section h2 {
    		font-size: 2rem !important;
		}
		.red-section h3 {
		    font-size: 1.2rem;    		
		    display: inline;
		}
		.red-section h4{    	
		    font-size: .9rem;
    		margin-left: -9px;
    		margin-right: -3px;
		    border: 1px white solid;
		}
	}

/******************************** GREEN SECTION *************************/


.green-section{
	background-color: #6AAE7F !important;
	height: 600px;
	padding-top: 50px;
	text-align: center;
	position: relative;
}
.planet{
	position: absolute;
    left: 0;    	
    width: 200px;
}
.ship{
	padding-top: 30px;
}
.corotto-tipo{
	width: 150px;
}
.corotto-tipo:hover {
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -webkit-transform: rotate(360eg);
  padding: 15px;
  transform: rotate(360deg);
  border-radius: 65px;
}
.green-section	h2{
	font-family: 'Helvetica';
    padding-bottom: 25px;
    color: white;
    font-size: 50px;
    font-weight: bold;
}
.green-section h3{
	font-family: 'Helvetica';
	color: white;
	padding-bottom: 35px;    
}
.green-section h4{
	font-family: 'Helvetica';
	font-size: 1.5rem;
	border: 2px white solid;
	border-radius: 7.5px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 60px;
    margin-right: 60px;   
}

@media screen and (min-width: 300px) and (max-width: 480px){
		.green-section{
			padding-top: 40px;
			height: 450px;
		}
		.green-section img{
			width: 50px;
		}
		.green-section h2 {
    		font-size: 2rem !important;
    		font-weight: normal;
		}
		.green-section h3 {
		    font-size: 1.2rem;    		
		    margin-bottom: 10px;
    		display: block;
		}
		.green-section h4{    	
		    font-size: .9rem;
    		margin-left: -9px;
    		margin-right: -3px;
		    border: 1px white solid;
		}
		.planet{
			width: 60px !important;
		}

}

.premium-section{
	background-color: #F0E9E1 !important; 
	background-image: url('../img/side_icon.png');
	background-repeat: no-repeat;
	height: 600px;
}

.footer{
	background:#4B331B;
	height: 200px !important;
}
.footer .container{
	padding:40px 0;
}
.footer .row{	
	margin: 0 !important;
}
.footer ul{
	margin:0 auto;
	text-align:center;
	list-style-type:none;
	padding-left: 0px;
}
.footer ul li{
	display:inline-block;	
}
.footer ul li img:hover{
	
}
.footer ul li img:hover	a{
	color:#fff;
}
.footer ul li img a{
	color:#008D85;
	width:42px !important;
	height:42px !important;
}
.footer ul li a i{
	line-height:42px !important;
}
.footer p{
	margin: 0 !important;
}
.copyright{
	color: white; 
}

@media screen and (min-width: 300px) and (max-width: 480px){
		.footer{
			height: 300px;
		}
		.footer img{
			width: 50px;
		}
}