// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: 'ArialRounded';
  src: font-url('ArialRoundedMTBoldRegular.ttf') format('truetype');
       
}

@font-face {
  font-family: 'Helvetica';
  src: font-url('Helvetica.otf') format('otf');
       
}

$small-width: 480px;
$medium-width: 768px;
$large-width: 1024px;

$lightgrey: #F0E9E1;
$yellow: #DB9942;
$red: #D0344C;
$green: #6AAE7F;
$brown: #4B331B;


@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

/**************to be deleted soon*****************/

.currentUser{
	font-size: 5px;
}
/*************************************************/



.home-center{
	text-align: center;

	.top-icon{
		padding-top: 50px;
	}


	h2{
		color: white;
		font-size: 3em;
		font-family: 'Helvetica';
	
	}
	h3{
		color: white;	
		font-size: 2em;
		font-family: 'ArialRounded'
	}
	h4{
		color: white;	
		font-size: 1.5em;
	}
}
.grey-section{
	background-color: #F0E9E1 !important; 
	height: 650px;
	float: none;
    margin: 0 auto;
  	padding-top: 100px;

	@media (min-width: $small-width + 1) and (max-width: $medium-width){
		padding-top: 40px;			
	}
	
	@media (max-width: $small-width) {
		height: 600px;
	}

	img{
		padding-bottom: 35px;;
	}
	
	.logoimage{				
		@media (max-width: $small-width) {
			width: 200px;		
			padding-bottom: 10px;
		}
	}
	
	h1{
		font-size: 3em;
		font-family: 'Helvetica';
		color: #4B331B;

		@media (min-width: $small-width + 1) and (max-width: $medium-width){
			padding-bottom: 0px;
		}

		@media (max-width: $small-width) {
			padding-bottom: 0px;
    		font-size: 2rem !important;
		}
	}
	.btn {	  	   
	    background-color: #F0E9E1 !important;	    
	    border-radius: 5px;
	    font-family: 'Helvetica';
	    padding:7px;
	    margin: 40px 0 0 0;
	    width: 220px;
        height: 50px;
	    border: solid #DB9942 2px;
	    font-size: 20px;
	    

	    a{
	    	text-decoration: none !important;	    	
	    	color: #DB9942 !important;    	
	    }

		@media (min-width: $small-width + 1) and (max-width: $medium-width){
			
		}

		@media (max-width: $small-width) {
			width: 150px;
			font-size: 13px;
		}

	}

	.btn a:hover, .btn a:active, .btn a:target {	  
	    text-decoration: none !important;
	    color: #DB9942 !important;
	}

	.down-arrow{
		top: 4em;

		@media (max-width: $small-width) {
			position: relative;
	    	top: 5em;	    
			}			   
	}

	@media (max-width: $small-width){
		padding-top: 50px;
	}

}

.yellow-section{
	background-color: #DB9942 !important;
	height: 600px;
	position: relative;

	h2{
		font-family: 'Helvetica';
		font-size: 3rem;
		
		@media (max-width: $small-width) {
			font-size: 2.5rem;    		
		}	   
	}



	h3{
		font-family: 'Helvetica';
		font-size: 2rem; 

		@media (max-width: $small-width) {
			font-size: 1.5rem;  
		}	   
	}



	.cameradolly{
	    position: absolute;
        left: 0;
    	top: 58%;
    	width: 400px;

		@media (min-width: $small-width + 1) and (max-width: $medium-width){
    		top: 67%;
    		width: 300px;  

		}

		@media (max-width: $small-width) {
			top: 78%;
    		width: 200px;    
		}	   

	}

}



.red-section{
	background-color: #D0344C !important;
	height: 600px;
	text-align: center;

	h2{
		font-family: 'Helvetica';
		padding-bottom: 40px;
	 	@media (max-width: $small-width) {			
    		padding-bottom: 20px;
    		font-size: 2.5rem    		
		}
	}

	h4{
		font-family: 'Helvetica';
	    font-size: 1.5rem;
	    border: 2px white solid;
	    border-radius: 7.5px;
	    padding-top: 5px;
	    padding-bottom: 5px;

		@media (min-width: $small-width + 1) and (max-width: $medium-width){
    		padding-left: 10px;
    		padding-right: 83px;
		}

	    @media (max-width: $small-width) {			
    		font-size: 11px;
    		font-weight: bold;
    		margin-right: -20px;
		}	   
	}


	@media (min-width: $small-width + 1) and (max-width: $medium-width){
		height: 500px;

		div img{
			width: 100px;
		}
	}
	@media (max-width: $small-width) {
		height: 450px;

		div img{
			width: 58px;
		}

	}	   


}

.green-section{
	background-color: #6AAE7F !important;
	height: 600px;
	padding-top: 50px;
	text-align: center;
	position: relative;


	.planet{
		position: absolute;
        left: 0;    	
    	width: 200px;
		
		@media (min-width: $small-width + 1) and (max-width: $medium-width){
    		width: 150px;
		}   

		@media (max-width: $small-width) {
			width: 90px;
			bottom: 22em;
		}	
	}

	.ship{
		padding-top: 100px;

		@media (max-width: $small-width) {
			width: 70px;
			padding-top: 45px
		}	
	}
	h2{
		font-family: 'Helvetica';
		padding-bottom: 40px;

	 	@media (max-width: $small-width) {			
    		padding-bottom: 10px;
    		font-size: 2rem    		
		}
	}

	h3{
		
		@media (max-width: $small-width) {			    		
    		font-size: 1.5rem    		
		}
	}

	h4{
		font-family: 'Helvetica';
	    font-size: 1.5rem;
	    border: 2px white solid;
	    border-radius: 7.5px;
	    padding-top: 5px;
	    padding-bottom: 5px;

		@media (min-width: $small-width + 1) and (max-width: $medium-width){
    		padding-left: 10px;
    		padding-right: 83px;
		}

	    @media (max-width: $small-width) {			
    		font-size: 11px;
    		font-weight: bold;
    		margin-right: -20px;
		}	   
	}

	@media (min-width: $small-width + 1) and (max-width: $medium-width){
		height: 500px;

		div img{
			width: 100px;
		}
	}
	@media (max-width: $small-width) {
		height: 450px;

		div img{
			width: 58px;
		}

	}	   


} 
.premium-section{
	background-color: #F0E9E1 !important; 
	background-image: image-url('home/side_icon.png');
	background-repeat: no-repeat;
	height: 600px;
}
.brown-section{
	background-color: #4B331B !important;
	height: 150px;
	.social-icons {
    max-width: 980px;
    margin: 0 auto;

		.icon--facebook a {
		    background-image: image-url('home/icon_facebook.png');
		    color: white;
		}

		.icon--twitter a {
		    background-image: image-url('home/icon_twitter.png');
		}

		.icon--instagram a {
		    background-image: image-url('home/icon_instagram.png');
		}
		
	}

}

footer ul{
	margin:0 auto;
	text-align:center;
	list-style-type:none;
}
footer ul li{
	display:inline-block;
	text-align:center;
	background:#ffffff;
	color:#008D85;
	line-height:42px;
	margin:0 6px;
	width:42px !important;
	height:42px !important;
	
	-webkit-border-radius: 50%;
    border-radius: 50%;
}
footer ul li:hover{
	background:#0a9f9f ;
}
footer ul li:hover	a{
	color:#fff;
}

footer ul li a{
	color:#008D85;
	width:42px !important;
	height:42px !important;
}
footer ul li a i{
	line-height:42px !important;
}	

